#myDiv {
  background-color: hsl(0, 0%, 100%);
  width: 47.5%;
  
  padding: 2%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  border-radius: 7px;
  position:fixed;
  bottom: 0;
}
#myAvatar {
  width: 40px;
  height: 40px;
}
#textarea {
  width: 67.8%;
  height: 80%;
  border-color: hsl(224, 19%, 93%);
  border-radius: 7px;
  padding: 1% 3%;
  resize: none;
  cursor: pointer;
}

#send {
  width: 104px;
  height: 48px;
  border: none;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(238, 40%, 52%);
  cursor: pointer;
}


@media only screen and (max-width: 375px){
  #myDiv {
    width: 85%;
  }
}